*{
  font-family: monospace;
  margin-top: 10px;
  margin-left: 10px;
}

table {
  border-collapse: collapse;
  width: 275px;
}

table, tbody, th, td {
  padding: 5px;
  text-align: center;
  border: 1px solid black;
}
